:root {
   --primary: hsl(224, 61%, 6%);
   --secondary: hsl(221, 40%, 9%);
   --tertiary: hsl(221, 49%, 15%);
   --text-main: hsl(0, 0%, 100%);
   --text-secondary: hsl(220, 6%, 60%);
   --text-secondary-light: hsl(220, 6%, 35%);
   --accent: hsl(263, 84%, 55%);
   --accent-logo: hsl(263, 84%, 58%);
   --hover-secondary: hsl(221, 40%, 14%);
   --hover-accent: hsl(263, 84%, 60%);

   --h1-medium: normal 500 4rem 'Inter';
   --h2-medium: normal 500 2.5rem 'Inter';
   --h3-regular: normal 400 2rem 'Inter';
   --h4-regular: normal 400 1.25rem 'Inter';

   /* Icon colors */
   --dark-grey: #868686;
   --grey: #bfbfbf;
   --light-grey: #e6e6e6;
   --blue: #45abff;
   --yellow: #ffda69;
   --orange: #ffaa45
}

:root.light {
   --primary: hsl(221, 49%, 90%);
   --secondary: hsl(221, 49%, 95%);
   --tertiary: hsl(0, 0%, 100%);
   --text-main: hsl(224, 61%, 6%);
   --text-secondary: hsl(220, 6%, 43%);
}